# Database
DATABASE_URL="postgresql://zefer:zefer_dev_password@localhost:5555/zefer"
SHADOW_DATABASE_URL="postgresql://zefer:zefer_dev_password@localhost:5555/zefer_shadow"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="" # Generate with: openssl rand -base64 32

# Socket.IO (must match ZeFerSocketIO server)
SOCKET_SERVER_SECRET="http://localhost:5000"

# Email Provider (Resend)
RESEND_API_KEY="re_your_api_key_here"
